<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Usuarios', users_path %></li>
  <li class="active">Registrar Usario</li>
</ol>

<h1>Nuevo Usuario</h1>

<%= render 'form' %>

<%= link_to 'Volver', users_path %>