
<ol class="breadcrumb">
  <li class="active">Inicio</li>
</ol>

<div class="">
  <ul class="nav nav-pills">
    <li><%= link_to 'Certificados', certificados_path, :class => '' %></li>
    <li><%= link_to 'Proveedores',  proveedors_path,   :class => '' %></li>
  </ul>
</div>