
<ol class="breadcrumb">
  <li class="active">Inicio</li>
</ol>

<!-- <div class="navbar-brand" style=""><img src="/images/contacto.png" /></div>
<div class="navbar-brand" style=""><img src="/images/sugerencias.png" /></div> -->