
<ol class="breadcrumb">
  <li class="active">Inicio</li>
</ol>

<nav class="hierrobeco">
  <ul class="">
    <li><%= link_to 'Certificados', certificados_path, :class => '' %></li>
    <li><%= link_to 'Proveedores',  proveedors_path,   :class => '' %></li>
    <li><%= link_to 'Productos',  productos_path,   :class => '' %></li>
    <li><%= link_to 'Usuarios',  users_path,   :class => '' %></li>
  </ul>
</nav>
