<h1>Certificados</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Certificados', certificados_path %></li>
  <li class="active">Crear Certificado</li>
</ol>

<%= render 'form' %>

<%= link_to 'Volver a Certificados', certificados_path %>
