<h1>Certificados</h1>

<ol class="breadcrumb">
  <li><a href="#">Inicio</a></li>
  <li class="active">Certificados</li>
</ol>

<%= render 'form' %>

<%= link_to 'Volver a Certificados', certificados_path %>
